* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

#AdminManageMain, #BookInsertMain, #LeaveWMmain, #SMmain, #UserMmain, #Adminregmain {
    width: 1200px;
    background-color: #fff;
}